<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <connectionStrings>
    <add name="localhost_NBsj_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=Yjs88291280;initial catalog=NBsj;Persist Security Info=true"/>
      <add name="NBsjEntities" connectionString="metadata=res://*/data.Model1.csdl|res://*/data.Model1.ssdl|res://*/data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=NBsj;user id=sa;password=Yjs88291280;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="WindowsFormsApp2.Properties.Settings.NBsjConnectionString" connectionString="Data Source=localhost;Initial Catalog=NBsj;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 <appSettings>
    <add key="PACK_TIME_RANGE" value="4" />
    <add key="TAG_READ_ONCE" value="1000" />
    <add key="DISCONNECT_CHECK_CIRCLES" value="5" />
    <add key="DATA_PACKING_INTERVAL_IN_MINUTES" value="20" />

    <!--<add key="MONGO_CONN_STR" value="mongodb://10.5.30.118:27017" />-->
    <add key="MONGO_CONN_STR" value="mongodb://127.0.0.1:27017" />
    <!--<add key="MONGO_CONN_STR" value="mongodb://root:88291280@10.5.30.241:27000,10.5.30.242:27000,10.5.30.243:27000/admin?readPreference=secondaryPreferred&w=1" />-->
    <add key="RTDB_DB_NAME" value="RTDB" />
    <add key="HIS_DB_NAME" value="HIS" />
    <add key="HIS_DB_TAIL_FORMAT" value="yyyyMM" />
    <add key="HIS_COLLECTION_TAIL_FORMAT" value="_dd_HH" />
    <add key="TAG_CONFIG_DB_NAME" value="TagConfig" />

    <add key="CFG_DIR" value=".\\CFG\\" />
    <add key="CFG_FILE_NAME" value="TagDefine.csv" />

    <add key="LOG_DIR" value=".\\Logs\\" />
    <add key="LOG_SPLITTER" value="***************************************************************************************************************************" />
  </appSettings>
</configuration>